<h1><%= "Link ##{link.id}" %></h1>

<table>
  <tbody>
    <tr>
      <th>URL:</th>
      <td><%= link.url %></td>
    </tr>
    <tr>
      <th>Token:</th>
      <td><%= link.token %></td>
    </tr>
    <tr>
      <th>Visitor count:</th>
      <td><%= link.visits.size %></td>
    </tr>
  </tbody>
</table>

<br>

<h3>Link visits</h3>

<% if link.visits.empty? %>
  <p>The link has no visits.</p>
<% else %>
  <table>
    <thead>
      <tr>
        <th>IP address</th>
        <th>Times</th>
      </tr>
    </thead>

    <tbody>
      <% link.visits.each do |visit| %>
        <tr>
          <td><%= visit.ip_address %></td>
          <td><%= visit.times %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>
<% end %>

<%= link_to 'Show', link_path(token: link.token), target: :_blank %>
<%= link_to 'Back', root_path %>
